.profile {
    width: 80%;

    margin: 1em 0;

    position: relative;

    background-color: white;

    border-radius: 2em;
}

.profile a {
    color: #3c315b;
}

.profile a:hover {
    color: #ab9ff2;
    
    cursor: pointer;
}

.edit {
    position: absolute;    
    top: 1em;
    right: 1em;
}

.edit img {
    width: 1.5em;
}

.userInfo {
    display: flex;

    padding: 1em;
}

.profileImage {
    width: 40%;

    display: flex;
    align-items: center;

    background-color: #ab9ff2;

    border-radius: 2em;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(60, 49, 91, 0.63);
    -moz-box-shadow: 4px 4px 8px 0px rgba(60, 49, 91, 0.63);
    box-shadow: 4px 4px 8px 0px rgba(60, 49, 91, 0.63);
}

.profileImage img {
    width: 70%;

    margin: 0.5em auto;
}

.mainContent {
    width: 60%;

    padding: 1em 1em 1em 2em;
}

.name h2 {
    margin: 0;
}

.city {
    display: flex;
    align-items: center;
}

.city img {
    width: 1.5em;

    margin-right: 0.5em;
}

.messageButton {
    margin: 1em 0 0;

    display: flex;
    align-items: center;
}

.messageButton a {
    text-decoration: none;
}

.messageButton img {
    width: 1.5em;
    
    margin-right: 0.5em;
}

.subscribeButton {
    margin: 0.5em 0 0;

    display: flex;
    align-items: center;
}

.subscribeButton img {
    width: 1.5em;
    
    margin-right: 0.5em;
}

.moreInfo {
    display: flex;

    padding: 1em;
}

.contacts {
    width: 40%;
}

.contactsHeading {
    margin: 0.5em 0;

    text-align: center;
    font-weight: 900;
}

.about {
    width: 60%;
    
    padding: 1em;
}

.about img {
    width: 1.5em;
}

.aboutHeading {
    width: 100%;
    
    display: flex;
    align-items: center;
}

.aboutHeading img{
    margin-right: 0.5em;
}

.textAboutUser {
    text-align: justify;
}

@media (max-width: 1200px) {
    .profile {
        width: 85%;
    }

    .userInfo {
        display: block;
    }
    
    .profileImage {
        width: 60%;

        margin: 0 auto;
        
        text-align: center;
    }

    .profileImage img {
        width: 60%;
    }

    .mainContent {
        margin: 0 10%;
        padding: 0.5em 0;

        width: 80%;
    }

    .mainContent h2 {
        text-align: center;
    }

    .moreInfo {
        display: block;
    }

    .contacts {
        margin: 0 10%;
        padding: 0 0 1em;

        width: 85%;
    }

    .about {
        margin: 0 10%;
        padding: 0;

        width: 80%;
    }

    .aboutHeading {
        padding: 0.5em;
    }
}

@media (max-width: 992px) {
   .profile {
        width: 90%;
    }

    .profileImage img {
        width: 60%;
    }

}

@media (max-width: 768px) {
    .profile {
        width: 100%;
    }
}

@media (max-width: 576px) {    
    .profileImage img {
        width: 70%;
    }
}